

.nav-item a{
    width: 100px;
    font-weight: 700;
    
}
.penguin-top{
    height:500px;

}

.penguin-top h1{
    font-size:40px;
    color: goldenrod;
    font-weight: 700 ;
}
.penguin-top h2{
    font-size:40px;
    color: navy;
    font-weight: 700;
}
.jacket h2{
    font-size:40px;
    color: navy;
    font-weight: 600;
}



.jacket img{
    height: 380px;
;
  
   
}

.footer-part{
    display: flex;
    align-items: flex-end;
}
.button{
    background-color: #9DB63C;
    border: #9DB63C;
    color: white;
}

.pirce{
    color: goldenrod;
    font-weight: 600;

}

.Contact-area{
    height: 400px;
}
.icon img{
    width: 100px;
    margin: 10px;
    padding-right: 30px;
}

.Penguin-card{
    border: 0;

}

.Penguin-card-footer{
    background-color: white;
    border: 0;
}

 
